{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block body %}
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="overview-wrap" style="margin-bottom: 10px;">
                                        <h2><i class="fa fa-group red"></i><strong>Politică de confidențialitate</strong></h2>

                                        <div class="account-wrap" stlye="user-select:none;">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="image">
                                                    <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                </div>
                                                <div class="content">
                                                    <a class="js-acc-btn" href="#">{{app.user.username}}</a>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="info clearfix">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="name">
                                                                <a href="#">{{app.user.username}}</a>
                                                            </h5>
                                                            <span class="email">{{app.user.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        <a href="/logout">
                                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="au-card m-b-30">
                                        <div class="au-card-inner">

<h3 data-fontsize="18" data-lineheight="30"><strong>I. Informații generale</strong></h3>
<p>Confidențialitatea datelor dumneavoastră cu caracter personal reprezintă una dintre preocupările principale ale&nbsp;Demograficool SRL &icirc;n calitate de operator de date.</p>
<p>Acest document are rolul de a vă informa cu privire la prelucrarea datelor dumneavoastră cu caracter personal, &icirc;n contextul utilizării paginii de internet&nbsp;<a href="http://www.demograficool.dx.am">www.demograficool.dx.am</a>. (&bdquo;Site-ul&rdquo;)</p>
<h3 data-fontsize="18" data-lineheight="30"><strong>II. Categoriile de date cu caracter personal prelucrate</strong></h3>
<p><strong>II.1.</strong>&nbsp;Dacă sunteți client al Site-ului,&nbsp;Demograficool SRL&nbsp;va prelucra datele dumneavoastră cu caracter personal, cum ar fi nume şi prenume, telefon, adresa de e-mail, adresa de facturare, adresa de livrare, date referitoare la modul &icirc;n care utilizați Site-ul, de exemplu comportamentul/preferinţele/obişnuințele dumneavoastră &icirc;n cadrul&nbsp;Demograficool SRL, precum și orice alte categorii de date pe care le furnizați &icirc;n mod direct &icirc;n contextul creării contului de utilizator, &icirc;n contextul plasării unei comenzi prin intermediul site-ului sau &icirc;n orice alt mod care rezultă din utilizarea Site-ului.</p>
<p>Dacă pentru a vă crea cont de utilizator pe Site, utilizați contul dumneavoastră de Facebook sau Google,&nbsp;Demograficool SRL&nbsp;va prelucra următoarele date publice de profil afişate de aplicaţiile respective: nume utilizator, adresa de e-mail.</p>
<p>&Icirc;n cazul &icirc;n care alegeți să vă creați cont de utilizator doar &icirc;nainte de a finaliza comanda unui produs disponibil pe Site, se va solicita adresa dumneavoastră de e-mail &icirc;n baza căreia va fi creat automat un cont. &Icirc;n cazul &icirc;n care nu finalizați comanda, adresa de e-mail și celelalte date furnizate nu vor fi stocate de&nbsp;Demograficool SRL, iar contul creat va fi șters automat.</p>
<p><strong>II.2.</strong>&nbsp;Dacă sunteți vizitator al Site-ului,&nbsp;Demograficool SRL&nbsp;va prelucra datele dumneavoastră cu caracter personal pe care le furnizați &icirc;n mod direct &icirc;n contextul utilizării Site-ului, cum ar fi datele pe care le furnizați &icirc;n cadrul secțiunii de contact / &icirc;ntrebări / reclamații, &icirc;n măsura &icirc;n care ne contactați &icirc;n acest fel.</p>
<h3 data-fontsize="18" data-lineheight="30"><strong>III. Scopurile și temeiurile prelucrării</strong></h3>
<p><strong>III.1.</strong>&nbsp;Dacă sunteți client al Site-ului,&nbsp;Demograficool SRL&nbsp;prelucrează datele dumneavoastră cu caracter personal astfel:</p>
<ul>
<li>pentru desfășurarea relației contractuale dintre dumneavoastră şi&nbsp;Demograficool SRL, respectiv pentru preluarea, validarea, expedierea şi facturarea comenzii plasate pe Site, informarea dumneavoastră asupra stării comenzii, organizarea returului de produse comandate etc.</li>
</ul>
<p><em>Temei: Prelucrarea datelor dumneavoastră &icirc;n acest scop are la bază contractul &icirc;ncheiat &icirc;ntre dumneavoastră și&nbsp;Demograficool SRL, definit &icirc;n cuprinsul Termenelor și Condițiilor&nbsp;</em><a href="https://gdprcomplet.ro/termeni-si-conditii/"><em>https://gdprcomplet.ro/termeni-si-conditii/</em></a><em>. Furnizarea datelor dumneavoastră cu caracter personal este necesară pentru executareaa acestui contract. Refuzul furnizării datelor poate avea drept consecință imposibilitatea derulării raporturilor contractuale dintre dumneavoastră și&nbsp;Demograficool SRL.</em></p>
<ul>
<li>pentru &icirc;ndeplinirea obligațiilor legale care incumbă&nbsp;Demograficool SRL&nbsp;&icirc;n contextul serviciilor prestate prin intermediul Site-ului, inclusiv a obligațiilor &icirc;n materie fiscală, precum și &icirc;n materie de arhivare.</li>
</ul>
<p><em>Temei: Prelucrarea datelor dumneavoastră pentru acest scop este necesară &icirc;n baza unor obligații legale. Furnizarea datelor dumneavoastră &icirc;n acest scop este necesară. Refuzul furnizării datelor poate avea drept consecință imposibilitatea&nbsp;Demograficool SRL&nbsp;de a respecta obligațiile legale care &icirc;i revin și deci &icirc;n imposibilitatea de a vă oferi serviciile prin intermediul Site-ului.</em></p>
<ul>
<li>pentru activităţi de marketing, respectiv pentru transmiterea, prin intermediul mijloacelor de comunicare la distanţă (e-mail, sms) de comunicări comerciale privind produsele şi serviciile oferite de&nbsp;Demograficool SRL, prin intermediul Site-ului.</li>
</ul>
<p><em>Temei: Prelucrarea datelor dumneavoastră pentru acest scop are la bază consimțăm&acirc;ntul dumneavoastră, dacă alegeți să-l furnizați.</em></p>
<p>Vă puteți exprima consimțăm&acirc;ntul pentru prelucrarea datelor &icirc;n acest scop prin bifarea căsuței corespunzătoare de la momentul creării contului, sau ulterior creării contului, la secțiunea Informațiile contului meu. Pentru dezabonarea de la primirea unor astfel de comunicări comerciale puteți folosi opţiunea de la finalul fiecărui e-mail/ sms conţin&acirc;nd comunicări comerciale. &Icirc;n plus, puteți să vă dezabonați prin accesarea secțiunii Informațiile contului meu.</p>
<p><strong>Furnizarea datelor dumneavoastră &icirc;n acest scop este voluntară.</strong>&nbsp;Refuzul furnizării consimțăm&acirc;ntului pentru prelucrarea datelor dumneavoastră &icirc;n acest scop nu va avea urmări negative pentru dumneavoastră.</p>
<ul>
<li>&icirc;n scopul efectuării diverselor analize, raportări privind modul de funcționare a Site-ului, realizarea de profiluri de preferinţe de consum, &icirc;n principal, &icirc;n vederea &icirc;mbunătăţiri experienței oferite pe Site.</li>
</ul>
<p><em>Temei: Prelucrarea datelor dumneavoastră pentru acest scop are la bază interesul legitim al Demograficool SRL&nbsp;de a &icirc;mbunătății permanent experiența clienților pe Site. Furnizarea datelor dumneavoastră &icirc;n acest scop este voluntară. Refuzul furnizării datelor pentru acest scop nu va avea urmări negative pentru dumneavoastră.</em></p>
<p><strong>III.2.</strong>&nbsp;Dacă sunteți vizitator al Site-ului,&nbsp;Demograficool SRL&nbsp;prelucrează datele dumneavoastră cu caracter personal astfel:</p>
<ul>
<li>pentru activităţi de marketing, respectiv pentru transmiterea, prin intermediul mijloacelor de comunicare la distanţă (e-mail, sms), de comunicări comerciale privind produsele şi serviciile oferite de&nbsp;Demograficool SRL, prin intermediul Site-ului.</li>
</ul>
<p><em>Temei: Prelucrarea datelor dumneavoastră pentru acest scop are la bază consimțăm&acirc;ntul dumneavoastră, dacă alegeți să-l furnizați.</em></p>
<p>Vă puteți exprima consimțăm&acirc;ntul pentru prelucrarea datelor &icirc;n acest scop prin completarea și bifarea căsuței corespunzătoare din formularul pentru abonarea la newsletter disponibil pe Site. Pentru dezabonarea de la primirea unor astfel de comunicări comerciale puteți folosi opţiunea de la finalul fiecărui e-mail/ sms conţin&acirc;nd comunicări comerciale.</p>
<p>Furnizarea datelor dumneavoastră &icirc;n acest scop este voluntară. Refuzul furnizării consimțăm&acirc;ntului pentru prelucrarea datelor dumneavoastră &icirc;n acest scop nu va avea urmări negative pentru dumneavoastră.</p>
<ul>
<li>pentru rezolvarea pl&acirc;ngerilor, reclamaţiilor şi pentru a monitoriza traficul și a &icirc;mbunătăţii experiența dumneavoastră oferită pe Site.</li>
</ul>
<p><em>Temei: Prelucrarea datelor dumneavoastră pentru acest scop are la bază interesul legitim al Demograficool SRL&nbsp;de a asigura funcționarea corectă a Site-ului, precum și pentru a &icirc;mbunătății permanent experiența vizitatorilor Site-ului, inclusiv prin soluționarea diferitelor comentarii, &icirc;ntrebări sau reclamații.</em></p>
<p>Furnizarea datelor dumneavoastră &icirc;n acest scop este voluntară. Refuzul furnizării datelor pentru acest scop nu va avea urmări negative pentru dumneavoastră.</p>
<h3 data-fontsize="18" data-lineheight="30"><strong>IV. Durata pentru care vă prelucrăm datele</strong></h3>
<p>Ca principiu,&nbsp;Demograficool SRL&nbsp;va prelucra datele dumneavoastră cu caracter personal at&acirc;t c&acirc;t este necesar pentru realizarea scopurilor de prelucrare menționate mai sus.</p>
<p>&Icirc;n cazul &icirc;n care sunteți client, vom prelucra datele dumneavoastră pe &icirc;ntreaga durată a raporturilor contractuale și ulterior conform obligaţiilor legale care revin &icirc;n sarcina&nbsp;Demograficool SRL&nbsp;(de ex., &icirc;n cazul documentelor justificative financiar-contabile pentru care termenul de păstrare prevăzut de lege este de 10 ani de la data &icirc;ncheierii exerciţiului financiar &icirc;n cursul căruia au fost &icirc;ntocmite).</p>
<p>&Icirc;n situaţia &icirc;n care sunteți client și vă exercitați opțiunea de ştergere a contului de utilizator, prin apăsarea butonul Ștergere cont din secțiunea Informațiile contului meu,&nbsp;Demograficool SRL&nbsp;va interpreta această acțiune ca opțiunea dumneavoastră de a vă dezabona de la primirea de comunicări comerciale prin care vă ținem la curent despre produsele și serviciile oferite prin intermediul site-ului. &Icirc;n acest sens, dacă alegeți să vă ștergeți contul de utilizator, nu vă vom mai trimite e-mailuri și/sau sms-uri de acest gen. Totuși, dorim să vă informăm că ștergerea contului nu va avea ca efect automat ștergerea datelor dumneavoastră cu caracter personal. &Icirc;n cazul &icirc;n care doriți să nu vă mai fie prelucrate datele cu caracter personal sau dacă doriți ștergerea datelor, vă puteți exercita drepturile detaliate la punctul VII de mai jos.. &Icirc;n cazul &icirc;n care solicitați ştergerea contului, &icirc;nsă pe acel cont există cel puţin o comandă activă, cererea de ştergere a contului va putea fi &icirc;nregistrată numai după livrarea produselor şi finalizarea ultimei comenzi active.</p>
<p>Dacă vă retrageți consimțăm&acirc;ntul pentru prelucrarea datelor &icirc;n scop de marketing,&nbsp;Demograficool SRL&nbsp;va &icirc;nceta prelucrarea datelor dumneavoastră cu caracter personal &icirc;n acest scop, fără &icirc;nsă a afecta prelucrările desfășurate de&nbsp;Demograficool SRL&nbsp;pe baza consimțăm&acirc;ntului exprimat de către dumneavoastră &icirc;nainte de retragerea acestuia.</p>
<h3 data-fontsize="18" data-lineheight="30"><strong>&nbsp;V.&nbsp;</strong><strong>Dezvăluirea datelor cu caracter personal</strong></h3>
<p>Pentru &icirc;ndeplinirea scopurilor de prelucrare,&nbsp;Demograficool SRL&nbsp;poate dezvălui datele dumneavoastră către parteneri, către terțe persoane sau entități care sprijină&nbsp;Demograficool SRL&nbsp;&icirc;n desfășurarea activității prin intermediul Site-ului (de exemplu firme de curierat, furnizori de servicii IT), ori către autoritățile publice centrale/locale, &icirc;n următoarele cazuri exemplificativ enumerate:</p>
<ul>
<li>pentru administrarea Site-ului;</li>
<li>&icirc;n situațiile &icirc;n care această comunicare ar fi necesară pentru atribuirea de premii sau alte facilități persoanelor vizate, obținute ca urmare a participării lor la diverse campanii promoționale organizate de către&nbsp;Demograficool SRL&nbsp;prin intermediul Site-ului;</li>
<li>pentru menținerea, personalizarea și &icirc;mbunătățirea Site-ului și a serviciilor derulate prin intermediul lui;</li>
<li>pentru efectuarea analizei datelor, testarea și cercetarea, monitorizarea tendințelor de utilizare și activitate, dezvoltarea caracteristicilor de siguranță și autentificarea utilizatorilor;</li>
<li>pentru transmiterea de comunicări comerciale de marketing, &icirc;n condițiile și limitele prevăzute de lege;</li>
<li>atunci c&acirc;nd dezvăluirea datelor cu caracter personal este prevăzută de lege etc.</li>
</ul>
<h3 data-fontsize="18" data-lineheight="30"><strong>&nbsp;VI.&nbsp;</strong><strong>Transferul datelor cu caracter personal</strong></h3>
<p>Datele cu caracter personal furnizate către&nbsp;Demograficool SRL&nbsp;pot fi transferate &icirc;n afara Rom&acirc;niei, dar doar către state din Uniunea Europeană.</p>
<h3 data-fontsize="18" data-lineheight="30"><strong>VII. Drepturile de care beneficiați</strong></h3>
<p>&Icirc;n condițiile prevăzute de legislația &icirc;n materia prelucrării datelor cu caracter personal, &icirc;n calitate de persoane vizate, beneficiați de următoarele drepturi:</p>
<ul>
<li>dreptul la informare, respectiv dreptul de a primi detalii privind activitățile de prelucrare efectuate de către&nbsp;Demograficool SRL, conform celor descrise &icirc;n prezentul document;</li>
<li>dreptul de acces la date, respectiv dreptul de a obține confirmarea din partea&nbsp;Demograficool SRL&nbsp;cu privire la prelucrarea datelor cu caracter personal, precum și detalii privind activitățile de prelucrare precum modalitatea &icirc;n care sunt prelucrate datele, scopul &icirc;n care se face prelucrarea, destinatarii sau categoriile de destinatari ai datelor, etc;</li>
<li>dreptul la rectificare, respectiv dreptul de a obține corectarea, fără &icirc;nt&acirc;rzieri justificate, de către&nbsp;Demograficool SRL&nbsp;a datelor cu caracter personal inexacte/ nejustificate, precum și completarea datelor incomplete; Rectificarea/ completarea va fi comunicată fiecărui destinatar la care au fost transmise datele, cu excepția cazului &icirc;n care acest lucru se dovedește imposibil sau presupune eforturi disproporționate.</li>
<li>dreptul la ștergerea datelor, fără &icirc;nt&acirc;rzieri nejustificate, (&bdquo;dreptul de a fi uitat&rdquo;), &icirc;n cazul in care se aplică unul dintre următoarele motive:
<ul>
<li>acestea nu mai sunt necesare pentru &icirc;ndeplinirea scopurilor pentru care au fost colectate sau prelucrate;</li>
<li>&icirc;n cazul &icirc;n care este retras consimțăm&acirc;ntul și nu există niciun alt temei juridic pentru prelucrare;</li>
<li>&icirc;n cazul &icirc;n care persoana vizată se opune prelucrării și nu există motive legitime care să prevaleze;</li>
<li>&icirc;n cazul &icirc;n care datele cu caracter personal au fost prelucrate ilegal;</li>
<li>&icirc;n cazul &icirc;n care datele cu caracter personal trebuie șterse pentru respectarea unei obligații legale;</li>
<li>datele cu caracter personal au fost colectate &icirc;n legătură cu oferirea de servicii ale societății informaționale conform dreptului Uniunii sau al dreptului intern sub incidenta căruia se află operatorul.</li>
</ul>
</li>
<li>Este posibil ca, &icirc;n urma solicitării de ștergere a datelor,&nbsp;Demograficool SRL&nbsp;să anonimizeze aceste date (lipsindu-le astfel de caracterul personal) și să continue &icirc;n aceste condiții prelucrarea pentru scopuri statistice;</li>
<li>dreptul la restricționarea prelucrării &icirc;n măsura &icirc;n care :
<ul>
<li>persoana contestă exactitatea datelor, pe o perioadă care ne permite verificarea corectitudinii datelor;</li>
<li>prelucrarea este ilegală, iar persoana vizată se opune ștergerii datelor cu caracter personal, solicit&acirc;nd &icirc;n schimb restricționarea utilizării lor;</li>
<li>operatorul nu mai are nevoie de datele cu caracter personal &icirc;n scopul prelucrării, dar persoana vizată i le solicită pentru constatarea, exercitarea sau apărarea unui drept &icirc;n instanță; sau</li>
<li>persoana vizată s-a opus prelucrării (altele dec&acirc;t cele de marketing direct), pentru intervalul de timp &icirc;n care se verifică dacă drepturile legitime ale operatorului prevalează asupra celor ale persoanei vizate.</li>
</ul>
</li>
<li>dreptul la portabilitatea datelor, respectiv (i) dreptul de a primi datele cu caracter personal &icirc;ntr-o modalitate structurată, folosită &icirc;n mod obișnuit și &icirc;ntr-un format ușor de citit, precum și (ii) dreptul ca aceste date să fie transmise de către&nbsp;Demograficool SRL&nbsp;către alt operator de date, &icirc;n măsura &icirc;n care sunt &icirc;ndeplinite condițiile prevăzute de lege;</li>
<li>dreptul la opoziție &ndash; &icirc;n ceea ce privește activitățile de prelucrare se poate exercita prin transmiterea unei solicitări conform celor indicate mai jos;
<ul>
<li>&icirc;n orice moment, din motive legate de situația particulară &icirc;n care se află persoana vizată, ca datele care o vizează să fie prelucrate &icirc;n temeiul interesului legitim al&nbsp;Demograficool SRL&nbsp;sau &icirc;n temeiul interesului public, cu excepția cazurilor &icirc;n care&nbsp;Demograficool SRL&nbsp;poate demonstra că are motive legitime și imperioase care justifică prelucarea și care prevalează asupra intereselor, drepturilor și libertăților persoanelor vizate sau că scopul este constatarea, exercitarea sau apararea unui drept &icirc;n instanță;</li>
<li>&icirc;n orice moment, &icirc;n mod gratuit și fără nicio justificare, că datele care o vizează să fie prelucrate &icirc;n scop de marketing direct.</li>
</ul>
</li>
<li>dreptul de a nu fi supus unei decizii individuale automate, respectiv dreptul de a nu fi subiectul unei decizii luate numai pe baza unor activități de prelucrare automate, inclusiv crearea de profiluri, care produce efecte juridice care privesc persoana vizată sau o afectează &icirc;n mod similar &icirc;ntr-o măsură semnificativă;</li>
<li>dreptul de a vă adresa Autorităţii Naţionale de Supraveghere a Prelucrării Datelor cu Caracter Personal sau instanțelor competente, &icirc;n măsura &icirc;n care considerați necesar.</li>
</ul>
<p>Pentru orice &icirc;ntrebări suplimentare cu privire la modul &icirc;n care datele cu caracter personal sunt prelucrate și pentru a vă exercita drepturile menționate mai sus, vă rugăm să vă adresați la adresa de email:&nbsp;<a href="mailto:office@demograficool.dx.am">office@demograficool.dx.am</a>.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
