{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block body %}
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="overview-wrap" style="margin-bottom: 10px;">
                                        <h2><i class="fa fa-group red"></i><strong>Despre</strong></h2>

                                        <div class="account-wrap" stlye="user-select:none;">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="image">
                                                    <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                </div>
                                                <div class="content">
                                                    <a class="js-acc-btn" href="#">{{app.user.username}}</a>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="info clearfix">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="name">
                                                                <a href="#">{{app.user.username}}</a>
                                                            </h5>
                                                            <span class="email">{{app.user.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        <a href="/logout">
                                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="au-card m-b-30">
                                        <div class="au-card-inner">
                                            <p>Aplicația a fost dezvoltată de <strong>Rareș Tarabega, Pîrlog Leonard, Partas Laurențiu și Palalaie Tudor</strong>, studenți la Facultatea de Cibernetică, Statistică și Informatică-Economică, Academia de Studii Economice București, 2019.</p>
                                            <p>Tehnologiile folosite sunt: PHP (Symfony Framework), MySQL și Javascript.</p>
                                            <p>Datele au fost preluate de pe website-urile <a href="http://api.population.io/">api.population.io</a> și  <a href="https://www.worldbank.org/">worldbank.org</a>, deoarece acestea oferă un API prin care se pot prelua datele demografice.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
